.board-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        margin: 0 2% 2% 0;
        padding: 0;
        transform: translate(0);
        width: 23.5%;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
    }
}
