.card-preview {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  margin-bottom: 8px;
  min-height: 32px;
  text-decoration: none;
  padding: 5px;
  position: relative;

  .edit-icon {
    visibility: hidden;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &:hover .edit-icon {
    visibility: visible;
  }
}
