.card-page-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: unset;
  outline: none;
  font-size: 14px;
  line-height: 20px;
}

.card-page {
  width: 768px;
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  padding: 0 8px 8px 16px;

  .data-and-sidebar {
    gap: 20px;
  }

  .card-data {
    flex-grow: 1;
  }

  .card-sidebar {
    width: 192px;
    > * {
      width: 100%;
    }
    button {
      background-color: #091e420a;
      margin-top: 8px;
    }
    h3 {
      text-transform: uppercase;
      color: #5e6c84;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.04em;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .card-section {
    margin-bottom: 24px;
    .section-header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;
      min-height: 32px;
      > *:first-child {
        width: 25px;
        height: 25px;
      }
      > *:nth-child(2) {
        flex-grow: 1;
      }
    }

    .section-data {
      margin-left: 40px;
    }
  }

  button {
    padding: 6px 12px;
  }
  button,
  .btn {
    &:hover {
      background-color: #091e4214;
    }
    &:active {
      background-color: #e4f0f6;
      color: #0079bf;
    }
  }
}

// LABELS COLORS

.label {
  color: #fff;
  &.detail {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &.green {
    background-color: #61bd4f;
    &.add {
      &:hover {
        box-shadow: -8px 0 #519839;
      }
    }
    &.detail {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &.yellow {
    background-color: #f2d600;
    &.add {
      &:hover {
        box-shadow: -8px 0 #d9b51c;
      }
    }
  }
  &.orange {
    background-color: #ff9f1a;
    &.add {
      &:hover {
        box-shadow: -8px 0 #cd8313;
      }
    }
  }
  &.red {
    background-color: #eb5a46;
    &.add {
      &:hover {
        box-shadow: -8px 0 #b04632;
      }
    }
  }
  &.purple {
    background-color: #c377e0;
    &.add {
      &:hover {
        box-shadow: -8px 0 #89609e;
      }
    }
  }
  &.blue {
    background-color: #0079bf;
    &.add {
      &:hover {
        box-shadow: -8px 0 #055a8c;
      }
    }
  }
  &.sky {
    background-color: #00c2e0;
    &.add {
      &:hover {
        box-shadow: -8px 0 #0098b7;
      }
    }
  }
  &.lime {
    background-color: #51e898;
    &.add {
      &:hover {
        box-shadow: -8px 0 #4bbf6b;
      }
    }
  }
  &.pink {
    background-color: #ff78cb;
    &.add {
      &:hover {
        box-shadow: -8px 0 #c9558f;
      }
    }
  }
  &.black {
    background-color: #344563;
    &.add {
      &:hover {
        box-shadow: -8px 0 #091e42;
      }
    }
  }
  &.gray {
    background-color: #b3bac5;
    &.add {
      &:hover {
        box-shadow: -8px 0 #97a0af;
      }
    }
  }
}
