.card-page-wrapper {
  position: fixed;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  left: 0;
  justify-content: center;
  display: flex;
  height: 100%;
  font-family: unset;
  outline: none;
  font-size: 14px;
  line-height: 20px;
}

.card-page {
  position: absolute;
  z-index: 1;
  min-height: 600px;
  height: fit-content;
  width: 768px;
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  padding: 0 8px 8px 16px;

  & button {
    padding: 6px 12px;
  }
  & button:not(.btn-add):not(.label),
  .btn {
    &:hover {
      background-color: #091e4214;
    }
    &:active {
      background-color: #e4f0f6;
      color: #0079bf;
    }
  }

  .card-cover {
    height: 116px;
    margin: 0 -8px 0 -16px;
  }

  .data-and-sidebar {
    gap: 20px;
  }

  .card-data {
    flex-grow: 1;
  }

  .card-sidebar {
    min-width: 192px;
    padding-right: 8px;
    > * {
      width: 100%;
    }
    button {
      background-color: #091e420a;
      margin-top: 8px;
    }
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .card-section {
    & > .header-icon::before {
      font-family: FA-regular;
      font-size: 1.1rem;
      content: '\f07b';
      color: #42526e;
    }

    & .MuiSvgIcon-root {
      fill: #42526e;
    }
    margin-bottom: 24px;
    .section-header {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;
      min-height: 32px;
      > *:first-child {
        // the svg img
        width: 22px;
        height: 22px;
      }
      > *:nth-child(2) {
        // the title
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

    .section-data {
      margin-left: 38px;
    }
  }
}

// LABELS COLORS

.label,
.color,
.card-cover {
  color: #fff;
  &.detail {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &.green {
    background-color: #61bd4f !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #519839;
      }
    }
    &.detail {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &.yellow {
    background-color: #f2d600 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #d9b51c;
      }
    }
  }
  &.orange {
    background-color: #ff9f1a !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #cd8313;
      }
    }
  }
  &.red {
    background-color: #eb5a46 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #b04632;
      }
    }
  }
  &.purple {
    background-color: #c377e0 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #89609e;
      }
    }
  }
  &.blue {
    background-color: #0079bf !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #055a8c;
      }
    }
  }
  &.sky {
    background-color: #00c2e0 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #0098b7;
      }
    }
  }
  &.lime {
    background-color: #51e898 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #4bbf6b;
      }
    }
  }
  &.pink {
    background-color: #ff78cb !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #c9558f;
      }
    }
  }
  &.black {
    background-color: #344563 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #091e42;
      }
    }
  }
  &.gray {
    background-color: #b3bac5 !important;
    &.add {
      &:hover {
        box-shadow: -8px 0 #97a0af;
      }
    }
  }
}

//
.btn-card {
  padding: 6px 12px;
  background-color: #091e420a;
  &:hover {
    background-color: #091e4214;
  }
  &:active {
    background-color: #e4f0f6;
    color: #0079bf;
  }
}
