.home-page footer {
    font-size: 0.8em;
    margin: 4em 1em;
    text-align: center;
    .logo {
        font-family: Source Sans;
        .icon {
            width: 25px;
            height: 25px;
        }
        margin-bottom: 15px;
    }
}
