// TODO OPTIONAL - cancel list-preview class padding and move it to the contents, like the real trello
.list-preview {
    min-width: 272px; // do not grow, do not shrink, stay 272px
    max-width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    padding: 10px 8px;
    height: fit-content;
    position: relative;

    max-height: 98%;

    .cards-container {
        position: relative;
        overflow-y: auto;
        
        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
          }
          
          /* Track */
          &::-webkit-scrollbar-track {
            // margin: 0 5px;
            // border: 5px solid transparent;
            border-radius: 10px;
            // box-shadow: inset 0 0 8px 8px rgba($color: #fff, $alpha: 0.35)d;
            background-color: rgba($color: #fff, $alpha: 0.35);
          }
          
          /* Handle */
          &::-webkit-scrollbar-thumb {
            // border: 5px solid transparent;
            border-radius: 10px;
            // background-color: #091e4214;
            // box-shadow: inset 0 0 8px 8px rgba($color: #000000, $alpha: 0.15);
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
    }

    .add-card {
        position: relative;
        z-index: 1;
    }

    .btn-more {
        position: relative;
        z-index: 11;
        padding: 7px;
    }

    button {
        padding: 6px;
    }
    button:not(.btn-add):hover {
        background-color: #091e4214;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    .close-icon {
        width: 16px;
        height: 16px;
    }

    // content class makes sure that the content is aligned to the same left vertical line
    .content {
        padding-left: 5px;
    }

    .list-header {
        margin-bottom: 8px;
        height: 30px;
        .list-title {
            font-weight: 600;
            font-size: 1em;
            border-radius: 3px;
            flex-grow: 1;
            cursor: pointer;
            align-self: center;
            padding: 4px 5px;
            overflow: hidden;
            overflow-wrap: break-word;
        }
        & > input {
            padding: 0px 5px;
            height: 28px;
            font-size: 1em;
            font-weight: 600;
        }
    }

    .add-card {
        .btn-adding {
            gap: 5px;
            width: 100%;
            color: #5e6c84;
        }
        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            padding: 6px 8px 2px;
            width: 100%;
            max-height: 162px;
            min-height: 66px;
            box-shadow: 0 1px 0 #091e4240;
            border-radius: 3px;
            outline: none;
            border: none;
            margin-bottom: 4px;
        }
        .close-icon {
            color: #6b778c;
            &:hover {
                color: #172b4d;
            }
        }
    }
}

.visible-scroll{
  padding-right: 4px;
}
