.list-add {
  cursor: pointer;
  // color: #fff;

  input {
    background-color: #fff;
    width: 100%;
    padding: 8px 12px;
  }

  form {
    gap: 5px;
  }

  // TODO bonus: Add transition to list change from not adding to adding

  &:not(.adding) {
    background-color: #ffffff3d;

    &:hover {
      background-color: #ffffff52;
    }
  }
}
