.list-add {
  cursor: pointer;
  color: #fff;

  input {
    background-color: #fff;
    width: 100%;
    padding: 8px 12px;
  }

  form {
    gap: 5px;
  }

  // TODO bonus: Add transition to list change from not adding to adding

  .btn-add {
    background-color: #0079bf;
    color: #fff;
    padding: 6px 12px;
    &:hover {
      background-color: #026aa7;
    }
  }

  &:not(.adding) {
    background-color: #ffffff3d;

    &:hover {
      background-color: #ffffff52;
    }
  }
}
