.starred-borads-popper {
}

.header-popper-menu {
    & .MuiPaper-root {
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
        box-sizing: border-box;
        outline: 0;
        overflow: hidden;
        // position: fixed;
        width: 304px;
        will-change: top, left;
        // top: 48px;
        position: relative;
        top: 10px;
        // left: 131px;
        max-height: 50vh;
        padding: 0 0 12px 0;
        overflow-x: hidden;
        overflow-y: auto;

        & .list-group {
            display: flex;
            flex-direction: column;
            & > div:first-child {
                font-size: 12px;
                color: #5e6c84;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 16px;
                margin: 8px 12px 0;
            }
            & > div:not(:first-child),
            & > li {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                overflow: hidden;
                border-radius: 4px;
                padding: 0 8px 6px;
                margin: 8px 8px 14px;
                // &:hover {
                //     background-color: rgba(9, 30, 66, 0.08);
                //     color: #091e42;
                // }
                // &:active {
                //     outline: 0;
                // }
                & > div {
                    height: 32px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    background-color: #c5c5c5;
                    overflow: hidden;
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 16px;
                    margin: 0;
                }
                & > span {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0 0 0 8px;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        & .your-boards {
            & > ul {
                list-style: none;
                padding-inline: 0;
                margin-inline: 0;
                & > li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-decoration: none;
                    overflow: hidden;
                    border-radius: 4px;
                    padding: 8px 6px;
                    margin: 8px 8px 14px;
                    &:hover {
                        background-color: rgba(9, 30, 66, 0.08);
                        color: #091e42;
                    }
                    &:active {
                        outline: 0;
                    }
                    & > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & > div {
                            // your and guest avatar
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 32px;
                            width: 32px;
                            border-radius: 6px;
                            background-color: #c5c5c5;
                            overflow: hidden;
                            font-size: 20px;
                            color: #ffffff;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 16px;
                            margin: 0;
                            background-position: center center;
                            background-size: cover;
                        }

                        & > span {
                            // your and guest board name
                            font-size: 14px;
                            font-weight: 600;
                            margin: 0 0 0 8px;
                            flex: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        & .starred-boards {
            & .empty-starred-list {
                padding: 0 12px 0 12px;
                & > p {
                    margin: 12px 0 8px;
                    text-align: center;
                    color: #5e6c84;
                }
            }
            & > ul {
                display: inline-block;
                width: 100%;
                margin-top: -2px;
                margin-bottom: 6px;
                list-style: none;
                margin: 0;
                padding: 0;

                & > li {
                    text-decoration: none;
                    overflow: hidden;
                    border-radius: 4px;
                    padding: 6px 8px;
                    margin: 8px 0;
                    &:hover {
                        background-color: rgba(9, 30, 66, 0.08);
                        color: #091e42;
                    }
                    &:active {
                        outline: 0;
                    }
                    & > div {
                        display: flex !important;
                        flex-direction: row;
                        align-items: center;
                        box-sizing: border-box;
                        border-radius: 4px;
                        position: relative;
                        min-width: 0;
                        display: block;
                        float: left;
                        width: 100%;
                        & > div {
                            // board avatar
                            display: inline-block;
                            flex: 0 0 auto;
                            background-size: cover;
                            border-radius: 4px;
                            height: 32px;
                            width: 40px;
                            position: relative;
                            opacity: 1;
                        }

                        & > span:first-of-type {
                            // starred board name
                            display: block;
                            padding-right: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 12px;
                            color: #172b4d;
                            line-height: 16px;
                            font-weight: 500;
                            padding: 0 0 0 8px;
                            flex-grow: 1;
                        }
                        & > span:last-of-type {
                            // star icon
                            &::before {
                                font-family: FA-regular;
                                content: '\f005';
                            }
                            width: 24px;
                            margin-right: 4px;
                            font-size: 0.8rem;
                            color: rgb(242, 214, 0);
                            fill: inherit;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition-duration: 85ms;
                            transition-property: transform;
                            &:hover {
                                transform: scale(1.2);
                                transition-duration: 85ms;
                                transition-property: transform;
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-header .popper-header {
    margin-bottom: 8px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    & div {
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        color: #5e6c84;
        height: 40px;
        display: block;
        line-height: 40px;
        margin: 0;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    & button {
        grid-column: 3;
        grid-row: 1;
        background: transparent;
        border: none;
        color: #6b778c;
        cursor: pointer;
        margin: 0;
        padding: 0;
        z-index: 2;
        outline: none;
        border-radius: 3px;
        box-sizing: border-box;
        display: inline-block;
        line-height: 20px;
        position: relative;
        text-decoration: none;
        &::before {
            font-family: FA-solid;
            content: '\f00d';
        }
    }
}

.card-popper {
    & .MuiList-root {
        padding: 0;
        max-width: 300px;
    }
    & .popper-header {
        box-sizing: border-box;
        color: #5e6c84;
        display: block;
        line-height: 40px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        margin-bottom: 8px;
        & div {
            margin: 0 12px;
            padding: 0 32px;
            border-bottom: 1px solid #091e4221;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
        & button {
            color: #6b778c;
            background-color: inherit;
            padding: 10px 12px 10px 8px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            transform: scale(0.8);
            height: 100%;
            &::before {
                // font-family: FA-solid;
                // content: '\f00d';
                // font-size: 16px;
                // content: url(../../svg/close.svg);
                content: '';
                background-image: url(../../svg/close.svg);
                background-size: contain;
                height: 16px;
                width: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                fill: #6b778c;
                // height: 1rem;
                // width: 1.4rem;
                // line-height: 1rem;
                &:hover {
                    color: #172b4d;
                    outline: 0;
                    cursor: pointer;
                }
                &:active {
                    outline: 0;
                }
            }
        }
    }
    & .popper-menu {
        max-height: 517px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 12px 12px;
        & ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            & li {
                &::marker {
                    unicode-bidi: isolate;
                    font-variant-numeric: tabular-nums;
                    text-transform: none;
                    text-indent: 0px !important;
                    text-align: start !important;
                    text-align-last: start !important;
                }
                cursor: pointer;
                display: block;
                font-weight: 400;
                margin: 0 -12px;
                padding: 0px 12px;
                position: relative;
                text-decoration: none;
                & > button {
                    cursor: pointer;
                    display: block;
                    font-weight: 400;
                    margin: 0 -12px;
                    padding: 6px 12px;
                    position: relative;
                    text-decoration: none;
                    background-color: inherit;
                    line-height: rem(20px);
                    font-size: rem(14px);
                    &:active {
                        background-color: #e4f0f6;
                    }
                    &:hover {
                        background-color: inherit !important;
                    }
                }
                & > span {
                    &:hover {
                        background-color: #091e420a;
                    }
                }
            }
        }
    }
}
