.top-panel {
  & > * {
    gap: 5px;
  }

  .members > * {
    width: 28px;
    height: 28px;
    font-size: 1em;
  }

  .board-name {
    h1 {
      font-size: 18px;
      font-weight: 700;
    }
    input {
      background-color: white;
      padding: 6px 5px;
      border-radius: 3px;
      height: 32px;
    }
  }

  button {
    padding: 6px 5px;
    border-radius: 3px;
    background-color: $clr-light;
    height: 32px;

    &.btn-menu {
      padding-right: 12px;
    }

    svg {
      max-height: 16px;
    }
    &:hover {
      background-color: $clr-light-2;
    }
  }
}
