.user-boards {
    display: flex;
    flex-direction: column;

    & > h3 {
        align-items: center;
        color: #5e6c84;
        display: flex;
        flex: 1;
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(24px);
        margin: rem(20px) 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
