.card-due-date {
  span.label-complete {
    color: #ffffff;
    background-color: #61bd4f;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-left: 8px;
    font-weight: 400;
  }
  .checkbox {
    margin-left: 0;
  }
}
