.card-attachments {
  gap: 8px;
  margin-bottom: 10px;

  .card-attachment {
    box-sizing: content-box;
    height: 80px;
    gap: 16px;
    // padding: 10px 4px 10px 0;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: #091e420a;
    }

    .attachment-thumbnail {
      color: #5e6c84;
      background-color: #091e420a;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 3px;
      text-align: center;
      min-width: 112px;
      max-width: 112px;
      span {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .attachment-info {
      flex-grow: 1;
      align-self: center;
      .icon-open::before {
        font-family: FA-solid;
        content: '\f35d';
        font-size: 0.8em;
      }
      .attachment-name {
        word-wrap: break-word;
        font-weight: 700;
        gap: 8px;
      }
      .attachment-basic-info {
        margin-bottom: 8px;
      }
    }

    .attachment-actions {
      gap: 6px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
