.card-description {
  .btn-edit {
    margin-left: 8px;
  }
  .description-view {
    cursor: pointer;
    white-space: pre;
    &.empty {
      background-color: #091e420a;
      height: 56px;
      padding: 8px 12px;
      &:hover {
        background-color: #091e4214;
      }
      &:active {
        background-color: #e4f0f6;
        color: #0079bf;
      }
    }
  }

  textarea,
  .description-view {
    padding: 8px 12px;
  }
  textarea {
    border-radius: 3px;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 108px;
  }
}
