.card-members-labels {
  margin: 8px 0 8px 40px;
  gap: 14px;
  .card-item {
    &.card-labels {
      gap: 2px;
      .labels-container {
        flex-wrap: wrap;
        .label {
          border-radius: 3px;
          font-weight: 600;
          height: 32px;
          line-height: 32px;
          margin: 0 4px 4px 0;
          min-width: 40px;
          padding: 0 12px;
          width: auto;
        }
      }
    }
  }
  .card-members {
    .sub-header {
      margin-bottom: 4px;
    }
    .btn-add-member:hover {
      background-color: #e2e2e2 !important;
    }
  }
}
