.card-details {
    margin: 8px 0 8px 40px;
    gap: 8px;
    .card-item {
        span {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.04em;
            line-height: 20px;
            text-transform: uppercase;
        }
        &.card-labels {
            gap: 2px;
            .labels-container {
                flex-wrap: wrap;
                .label {
                    border-radius: 3px;
                    font-weight: 600;
                    height: 32px;
                    line-height: 32px;
                    margin: 0 4px 4px 0;
                    min-width: 40px;
                    padding: 0 12px;
                    width: auto;
                }
            }
        }
    }
}
