.card-checklists {
  .checklist-progress-bar {
    background: #091e4214;
    border-radius: 4px;
    clear: both;
    height: 8px;
    overflow: hidden;
    position: relative;
  }
  .percentage {
    text-align: center;
    font-size: 11px;
  }
  .checklist-add-item {
    textarea {
      resize: none;
      padding: 8px 12px;
      width: 100%;
    }
  }
}
