.cards-popper {
    z-index: 12;
    .popper-content {
        padding: 0 12px 12px;
        overflow: hidden;
    }
    .popper-header {
        .back-btn {
            grid-column: 1;
            grid-row: 1;
            &::before {
                content: "\f104";
                font-size: 1rem;
            }
        }
    }
}
