// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.home::before {
  font-family: FA-solid;
  content: "\f83e";
}

.boards::before {
  content: url(../../svg/logo-icon-copy.svg);
}

.templates::before {
  content: url(../../svg/template.svg);
}
