// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  > *.grow {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.home::before {
  font-family: FA-solid;
  content: '\f83e';
}

.boards::before {
  content: url(../../svg/logo-icon-copy.svg);
}

.templates::before {
  content: url(../../svg/template.svg);
}

// Board Page
.content-editable {
  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
    outline: none;
    cursor: text;
  }
}

.add-controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  .btn-add {
    background-color: #0079bf;
    color: #fff;
    padding: 6px 12px;
    &:hover {
      background-color: #026aa7;
    }
  }
  .close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
