@font-face {
  font-family: 'Source Sans';
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: 'Source Sans';
  font-weight: 700;
  src: url(../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}
