// Colors
$clr-default: #172b4d;
$clr-primary-blue: #0065ff;
// $clr-light: rgba(0, 0, 0, 0.1);
// $clr-light-2: rgba(0, 0, 0, 0.2);
$clr-light: #ffffff3d;
$clr-light-2: rgba(255, 255, 255, 0.3);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
